{% extends "base.html" %}
{% load static %}

{% block title %}BLOG{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock  %}

{% block content %}


<section id="welcome">
<header>
    <img src="{% static  "blog/images/avatar.png"%}" alt="img">
    <h2>Shiva's BLOG</h2>
</header>
<p>Hi my name is Shiva , Welcome to my blog website!! </p>
</section>


<section id="latest-posts">
<h2>My Latest Posts</h2>
    <ul>
        {%for post in posts%}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>


<section id="about">
    <h2>About ME !</h2>
    <p>Strong in design and integration with intuitive problem-solving skills. Passionate about implementing and launching new projects. Looking to start the career as an entry-level software engineer with a reputed firm driven by technology.</p>
</section>

{% endblock  %}