{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    {% block css_files %}
     <link rel="stylesheet" href="{% static "app.css"%}">
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   
    <link rel="icon" href="{% static "favicon.ico" %}"/>
  </head>
  <body>
    {% comment %} <header id="main-navigation">
      <h1><a href="{% url 'starting-page' %}">SHIVA'S BLOG</a></h1>
      <nav>
        <a href="{% url 'post-page' %}">All posts</a>
      </nav>
    </header> {% endcomment %}
 
<nav class="navbar navbar-expand navbar-dark" style="background-color: #6305dd;">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="{% url 'starting-page' %}">
      <img src="{% static  "favicon.ico"%}" alt="" width="30" height="24" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="{% url 'starting-page' %}">HOME</a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'post-page' %}">All posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'read-later' %}">Stored Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    {% block content %} {% endblock %}
  </body>
</html>
